// Code affectant le carrousel

header {
    width: 100vw;
}
body {
    overflow-x: hidden;
}
// Ce code affecte les boutons liés au carrousel
input {
    width: 30px;
    height: 30px;
    margin: 0 2em;
    margin-bottom: 10px;
}

#lesboutons {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-left: -5rem;
}
// Fin du code lié aux boutons

.carrousel-2 {
    display: flex;
    width: 300vw;
    height: 15vh;
    transition: transform 0.5s ease;
    margin-left: 14vw;
    margin-top: 3vh;
    overflow-x: hidden;
    // Code affectant les divs en tant que telles
    .slide__conteneur {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        border: none;
        margin: 0;
        padding: 0;
        transition: none;
        box-shadow: none;
        height: 100px;
        border-radius: 10px;
        -webkit-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 17px 0px rgba(0,0,0,0.75);
        .slide {
            width: 60vw;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @include mobile {
                & {
                    width: 110%;
                }
            }
            img {
                display: block;
                margin: 2%;
                width: 8rem;
                height: 4rem;
               
            @include mobile {
                width: 5.5rem;
                height: 2.5rem;
            }    
            }
            .slide__info {
                display: flex;
                flex-direction: column;

                
                @include mobile {
                    width: 200%;
                }
                p{
                    font-size: .8rem;
                }
                a{
                    font-size: 1.2rem;
                }
            }
        }
        // Format mobile
        @include mobile {
            font-size: 1rem;
            padding: 0 2em;
        }

        // Code affectant les divs de manière spécifique    
        &:nth-of-type(1){
            background-color: rgba(104, 20, 94, 1);
            width: 60vw;
            height: 100px;
            margin-right: 40vw;
        }
        &:nth-of-type(2){
            background-color: rgba(199, 61, 217, 1);
            width: 60vw;
            height: 100px;
            margin-right: 40vw;
        }
        &:nth-of-type(3){
            background-color: rgb(221, 42, 200);
            width: 60vw;
            height: 100px;
        }
    } // fin du div

}


.ctrl-carrousel {
    display: flex;
    justify-content: center;
    width: 100vw;

    .rad-carrousel {
        display: block;
        margin: .5rem 2rem .5rem 2rem;
    }
}

.slide__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}